@import url('https://fonts.googleapis.com/css?family=Prompt:200,400,800&display=swap');

body {
    font-family: 'Prompt', sans-serif !important;
}

.v-application {
    font-family: 'Prompt', sans-serif !important;
} 

h1 {
    font-family: 'Prompt', sans-serif !important;
}

.v-application .display-4 {
    font-family: 'Prompt', sans-serif !important;
}

.v-application .display-3 {
    font-family: 'Prompt', sans-serif !important;
}

.v-application .display-2 {
    font-family: 'Prompt', sans-serif !important;
}

.v-application .display-1 {
    font-family: 'Prompt', sans-serif !important;
}

.title .headline {
    font-family: 'Prompt', sans-serif !important;
}

.v-application .headline {
    font-family: 'Prompt', sans-serif !important;
}

.v-btn__content {
    font-family: 'Prompt', sans-serif !important;
}
 
.drawer-link {
    text-decoration: none;
    color: #212121 !important;
    font-size: 14pt;
}

.bold {
    font-weight: 900 !important;
}